.letter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-size: large;
  border: 1px solid #000;
}
.letters-container {
  display: flex;
}
